body {
    font-family: 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 600px;
}

#task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

#task-list li div {
    display: flex;
    align-items: center;
}
